@model List<SchoolPrj.Models.Goods>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@Url.Action("GetImage", "Goods", new { id = item.Id })" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                <p class="card-text">@item.Description</p>
                <p class="card-footer">@item.Price</p>
            </div>
        </div>
    }
</div>

